


/* ---------- Container ---------- */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 1rem;
    margin-top: 15px;
    position: relative;
    transition: background-color 1.5s ease, color 1.5s ease;
}


/* ---------- Card ---------- */
.register-card {
    background: transparent;
    padding: 2.5rem;
    border-radius: 120px 60px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.753);
    width: 100%;
    max-width: 420px;
    text-align: center;
    transition: background-color 1.5s ease, color 1.5s ease;
}

/* ---------- Titles ---------- */
.register-title {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: var(--text-color);
    transition: color 1.5s ease;
}

.register-subtitle {
    color: var(--subtext-color);
    margin-bottom: 1.5rem;
}

/* ---------- Inputs ---------- */
.register-input {
    width: 90%;
    padding: 0.9rem;
    margin: 0.7rem 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    transition: border 0.2s, background 0.2s, color 0.2s;
    background: var(--input-bg);
    color: var(--text-color);
}

.register-input:focus {
    border-color: #28a745;
    outline: none;
}

/* ---------- Submit Button ---------- */
.register-btn {
    width: 100%;
    padding: 0.9rem;
    margin-top: 1rem;
    border: none;
    border-radius: 8px;
    background: #28a745;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.register-btn:hover {
    background: #218838;
}

/* ---------- Footer ---------- */
.register-footer {
    margin-top: 1.5rem;
    color: var(--subtext-color);
}

.register-link {
    color: #28a745;
    text-decoration: none;
    font-weight: bold;
}

.register-link:hover {
    text-decoration: underline;
    font-size: 15px;
}

.backToHome {
    margin-top: 1rem;
}

.homepage_link {
    color: #2d9cf0;
    font-weight: bold;
    text-decoration: none;
}

.homepage_link:hover {
    text-decoration: underline;
}

/* ---------- Message Styling ---------- */
.register-message {
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;
}

.register-message.success {
    color: #4ade80;
}

.register-message.error {
    color: #ff0404;
}

/* ---------- Responsive ---------- */
@media (max-width: 480px) {
    .register-card {
        padding: 2rem;
        border-radius: 40px;
    }

    .theme-toggle {
        right: 20px;
        font-size: 1.3rem;
    }
}
